@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend Deca, sans-serif;
}

body {
    background: #baa898;
    color: white;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    position: relative;
    font-size: 25px;
    color: #4E4741;
    text-decoration: none;
    font-weight: 700;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #baa898;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

}

/* .navbar {
    overflow: hidden;
} */

.navbar a {
    font-size: 18px;
    color: #E1D2BF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: fadeInDown 1s cubic-bezier(0.17, 0.84, 0.44, 1) forwards;
    display: inline-block;
}

.navbar a:nth-child(1) {
    animation-delay: 0.1s;
}

.navbar a:nth-child(2) {
    animation-delay: 0.2s;
}

.navbar a:nth-child(3) {
    animation-delay: 0.3s;
}

.navbar a:nth-child(4) {
    animation-delay: 0.4s;
}

.navbar a:nth-child(5) {
    animation-delay: 0.5s;
}

.navbar a:hover,
.navbar a.active {
    color: #4E4741;

}


.img-container {
    margin: auto;

}

.img-moi {
    width: 500px;
    background-color: #4E4741;
    border-radius: 50%;
    transition: all 0.3s ease;
    animation: flottement 4s ease-in-out infinite;
    transform-origin: center center;
}

.img-moi:hover {
    scale: 1.05;
    box-shadow: 0 0 50px #4E4741;

}

.home {
    height: 100vh;
    /* background:url */
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    overflow: hidden;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: UpText 1s ease forwards;
}

.home-content h1 span {
    display: inline-block;
    opacity: 0;
    animation: UpText 0.8s ease forwards;

}

.home-content h1 span:nth-child(1) {
    animation-delay: 0.1s;
}

.home-content h1 span:nth-child(2) {
    animation-delay: 0.2s;
}

.home-content h1 span:nth-child(3) {
    animation-delay: 0.3s;
}

.home-content h1 span:nth-child(4) {
    animation-delay: 0.4s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #4E4741;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 30px;

}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 420px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    border: 2px solid #4E4741;
    border-radius: 8px;
    font-size: 19px;
    color: #4E4741;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}

.btn-box a:hover {
    color: #E1D2BF;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4E4741;
    z-index: -1;
    transition: .6s;
}

.btn-box a:hover::before {
    width: 100%;

}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #4E4741;
    border-radius: 50%;
    font-size: 20px;
    color: #4E4741;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #E1D2BF;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4E4741;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;

}

/* KEYRFRAMES ANIMATIONS */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes flottement {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-15px) rotate(0deg);
    }


    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: -10;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes UpText {
    0% {
        opacity: -10%;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}